<div class="infodiv">
    <p class="headp">客户信息确认</p>
    <ul class="sidebar_box">

        <li>客户姓名<input type="text" class="infoinput" readonly="readonly" name="Name" id="Name" /></li>

        <li>客户类型<input type="text" class="infoinput" readonly="readonly" name="KhType" id="KhType" /></li>

        <li>车牌号码<input type="text" class="infoinput" readonly="readonly" name="CarNo" id="CarNo" /></li>

        <li>当前余额<input type="text" class="infoinput" readonly="readonly" name="Balance" id="Balance" /></li>

        <li>会员级别<input type="text" class="infoinput" readonly="readonly" name="CardLevel" id="CardLevel" /></li>

        <li>剩余积分<input type="text" class="infoinput" readonly="readonly" name="CurBIntegral" id="CurBIntegral" /></li>
    </ul>
    <div class="sidebar_box_bottom"></div>
</div>
