@{
    ViewBag.Title = "会员管理系统";
}

<h2>@ViewBag.Message</h2>
<p>
    会员管理系统可以给企业带来很多好处:<br />
　　1、建立长期稳定的消费市场<br />
　　2、培养大批品牌忠诚者<br />
　　3、加强企业与会员之间互动交流，改进产品<br />
　　4、提高新产品开发能力和服务能力<br />
　　5、市场消费的第一手资料<br />
　　6、维护新客户，留住回头客<br />
</p>
<script type="text/javascript">
    (function OpenCom() {
        if (typeof(callbackObj) != "undefined" && callbackObj.getStatus() == "0") {
            var com = getCookie('com');
            if (com != "") {
                isopen = callbackObj.openCom(parseInt(com));
                if (isopen == true) {
                    document.getElementById("commsg").innerText = "串口已打开。";
                }
                else {
                    document.getElementById("commsg").innerText = "串口打开失败。";
                }
            }
        }
    })();
</script>
